---
import Simple from '../layouts/Simple.astro'
---
<Simple>
	<h1>Home page</h1>
  <ul>
    <li><a href="/">Home page</a></li>
    <li><a href="/test">Test page</a></li>
  </ul>
  <ion-input type="text" label="Name"></ion-input>
</Simple>
